.login-register {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, #f7944d);
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}

.auth-form-container {
  padding: 5rem;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0.5rem;
}

.new-post {
  padding: 1rem;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0.5rem;
}

.profile-container {
  display: flex;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0.5rem;
  font-size: 20px;
  color: white;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

textarea {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}

.error {
  max-width: 400px;
  font-size: 15px;
  color: rgb(131, 18, 18);
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}

 
.btn-container {
  display: flex;
  flex-direction: 'row';
  align-items: center;
  background-color: #fff;
  padding: 10px 0px;
  border-radius: 12px;
}
 
.btn {
  border: none;
  color:#fff;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap:6px;
  background-color: #bdc0c5;
  border-radius: 20px;
  padding: 3px 6px;
  margin: 0 5px;
}
 
.like-active {
  background-color: #FF5722;
}
 
.dislike-active {
  background-color: #394350;
}
